{{> header}}
    {{> navbar}}
</br>
</br>
<h1>About</h1>

<table class="table" >
  <tbody>
    <tr>
      <th scope="col">El universo expandido de Star Wars es una colección de orígenes, materiales, historias, etc., del universo de Star Wars que se derivan de novelas, cómics, videojuegos, series de televisión y otros medios. </th>
      <th scope="col"><img src="assets/img/starwars.jpg" class="img-thumbnail"></th>
      
    </tr>
  </tbody>
 
</table>
  
{{> footer}}